# Database URL
# Ejemplo para PostgreSQL local:
# DATABASE_URL="postgresql://usuario:contraseña@localhost:5432/nombre_base_datos?schema=public"

# Ejemplo para PostgreSQL en Docker:
# DATABASE_URL="postgresql://postgres:postgres@localhost:5432/cursos_lms?schema=public"

DATABASE_URL="postgresql://usuario:contraseña@localhost:5432/nombre_base_datos?schema=public"












